@import "tailwindcss";

:root {
  --background: #050505;
  --foreground: #ffffff;
}

html,
body {
  max-width: 100vw;
  scroll-behavior: smooth;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}